body{
    margin: 5%;
    margin-left: 20%;
}
#logo{
    position: absolute;
    left: 2%;
    top: 2%;
}
#logo img{
    width: 100px;

}

#slider{
    position: relative;
    width: 1000px;
    height: 600px;
    /* margin-top: 150px; */
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
#slider ul{
    position: relative;
    list-style: none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
}
#slider ul li{
    position: relative;
    height: 100%;
    float: left;
}

#slider ul li img{
    width: 1000px;
    height: 600px;
}
#slider #prev,
#slider #next{
    width: 50px;
    line-height: 50px;
    font-size: 2rem;
    border-radius: 50%;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    transition: all 150ms ease;
}

#slider #prev{
    left: 10px;
}
#slider #next{
    right: 10px;
}

#slider #prev:hover,
#slider #next:hover{
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0;
}